.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  
  body {
    background: linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0.10)), url('../images/RegisterPageBg.jpg');
    background-size: cover;
    width: 95%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center/cover;
  }
  
  .singup {
    margin-top: 15px;
    margin-bottom: -15px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
  }
  
  .logo {
    background-color: rgb(38, 155, 157);
    margin-right: 8px;
    opacity: calc(0.7);
    margin-left: 20px;
    width: 30%;
    box-shadow: 5px 5px 10px #c8c8c8,
      -5px -5px 10px rgb(24, 146, 148);
    border-radius: 5px;
  }
  
  .loginbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
  }
  
  p {
    margin-top: 4px;
    padding-right: 10px;
  }
  
  .card {
    margin-top: -20px;
    opacity: calc(.9);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 400px;
    flex-direction: column;
    gap: 35px;
    /* background: #e3e3e3; */
    background: rgb(214, 186, 243);
  
    /* box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
      border-radius: 8px; */
    box-shadow: 5px 5px 10px #c8c8c8,
      -5px -5px 10px darkkhaki;
    border-radius: 5px;
  }
  
  .inputBox {
    position: relative;
    width: 250px;
  }
  
  .inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  
  .enter {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
  }
  
  .enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .Homebtn {
    margin-left: -253px;
    margin-top: 550px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ffffff34;
    cursor: pointer;
    background-color: rgba(223, 223, 223, 0.271);
    color: rgb(0, 0, 0);
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
    position: absolute;
  }
  
  .Homebtn:hover {
    background-color: rgba(0, 0, 0, 0.448);
    color: rgb(255, 255, 255);
  }

  /* #################### footer section styling #################### */

.social-media-link{
  background: #26323800;
  padding: 2rem;
  color: white;
  text-align: center;
}

.footer-wrapper i{
  margin: 1.5rem;
}